.not-found {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(220,240,245);
    background: radial-gradient(circle, rgba(220,240,245,1) 0%, rgba(48,167,179,1) 51%, rgba(92,92,236,1) 100%);
}
.not-found h1 {
    font-size: 100px;
    font-weight: 900;
}
.not-found-btn a {
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}
.go-home-btn {
    display: flex;
    align-items: center;
    background: #D86411;
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}
.go-home-btn:hover {
    background: #1B6DC1;
}
.go-home-btn span {
    margin-left: 5px;
}